<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://churchlogo.co/favicon.ico"
      type="image/x-icon"
      sizes="16x16"
    />
    <meta
      property="og:image"
      content="https://churchlogo.co/static/churchlogo.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:url" content="https://api.churchlogo.co" />
    <meta property="og:type" content="website" />

    <title><%= title %></title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 0;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 95vh;
        color: #2c3e50;
      }
      h1 {
        color: #13a800;
        font-size: 1.8em;
      }
      p {
        word-wrap: break-word !important;
        font-size: 1.2em;
      }
      p > a {
        color: #6d46fe;
        text-decoration: none;
        font-weight: 600;
      }
      p > a:hover {
        text-decoration: underline;
      }
      p > span {
        color: #13a800;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <div>
      <h1><%= title %></h1>
      <p>
        © <%= currentYear %> <span>ChurchLogo</span> | All rights reserved.
        Developed by
        <a
          href="https://ruman-islam.vercel.app"
          target="_blank"
          rel="noreferrer"
        >
          Ruman Islam
        </a>
      </p>
    </div>
  </body>
</html>
